@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body
{
    font-family: 'ubuntu';
    font-size: 14px;

    text-align: center;

    background-color: rgb(213, 218, 209);
}

#clear-list-btn
{
    float: right;

    margin-right: 40px;
}

.main
{
    overflow: auto;

    max-width: 600px;
    height: 450px;
    max-height: 450px;
    margin: 20px auto;

    background-color: #fff;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, .3);
}



.main::-webkit-scrollbar
{
    width: 10px;
}
.main::-webkit-scrollbar-thumb
{
    border-radius: 5px;
    background: rgba(0, 0, 0, .3);
}

.todo-list
{
    margin-top: 60px;
    margin-right: 40px;
    margin-bottom: 25px;
}

h3
{
    font-size: 250%;
    font-weight: bold;
}

ul
{
    list-style-type: none;
}

li
{
    font-size: 150%;

    width: 100%;
    min-height: 50px;
    margin-bottom: 15px;
    padding: 10px;

    cursor: pointer;
    transition: all .1s ease-in-out;
    word-wrap: break-word;

    border-radius: 5px;
    background-color: rgb(168, 145, 171);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .4);
}

li:hover
{
    transform: scale(1.1);
}

.myForm
{
    max-width: 640px;
    margin: 20px auto;
}

.myForm input
{
    min-height: 50px;
}

@media screen and (max-height: 450px) {
    .main {
        max-height: 300px;
    }
}
