<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>TODO app</title>

        <link rel="stylesheet" href="css/style.css">

        <script src="js/angular.min.js"></script>

    </head>
    <body ng-app="todoApp">
        <div ng-controller="todoController">
            <div class="main">
                <h3>{{title}}</h3>

                <button id="clear-list-btn" type="button" class="btn btn-danger" ng-click="removeAllTasks()">Clear List</button>

                <div class="list-area">
					<div class="todo-list">
	                    <div class="todos" ng-repeat="task in data.all_tasks" ng-click="deleteTask($index)">
							<p id="date">{{task.date | date}}</p>
							<p>{{task.description}}</p><br>
	                    </div>

	                    <p class="todos">{{data.newTask}}</p>
	                </div>
                </div>
            </div>

            <form class="myForm">
                <div class="form-group">
                    <label for="todo-task"></label>
                    <input type="text" class="form-control" ng-model="data.newTask" ng-keypress="addTask($event)"/><br>
                    <button type="submit" name="button" class="btn btn-success" ng-click="addTask1()">Add task</button>
                </div>
            </form>
        </div>

        <!-- jQuery -->
        <script src="js/jquery-3.1.1.min.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>

        <script type="text/javascript" src="js/main.js"></script>

    </body>
</html>
